<!doctype html>
<html lang="en">
<head>
	<title>经纬新闻</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" type="image/png" href="img/favicon.png">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	<link class="skin" rel="stylesheet" href="css/skins/blue/style-1.css" type="text/css" media="screen">
</head>
<body>
	<!-- Header -->
	<div id="header-container" class="clearfix">
		<div id="header">
			<div id="logo">
				<a href="index.html"><img alt="" src="img/logo.png"></a>
				<a href="javascript:zh_tran('t');" class="zh_click" id="zh_click_t">繁</a> |
                <a href="javascript:zh_tran('s');" class="zh_click" id="zh_click_s">简</a>
			</div>

			<div id="header-ads">
				<img alt="" src="upload/header-ads.png" height="78px">
			</div>
		</div>
	</div>
	<!-- End Header -->

	<!-- Sub Menu -->
	<div id="sub-menu-container">
		<div id="sub-menu">
			<div id="sub-menu-left-nav">
				<a href="#">left</a>
			</div>

			<div id="sub-menu-right-nav">
				<a href="#">right</a>
			</div>

			<div id="sub-menu-ul-container">
				<ul>
					<li><a href="../#中国">中国</a></li>
	                 <li><a href="../#国际">国际</a></li>
	                 <li><a href="../#经济">经济</a></li>
	                 <li><a href="../#科技">科技</a></li>
	                 <li><a href="../#娱乐">娱乐</a></li>
	                 <li><a href="../#体育">体育</a></li>
	                 <li><a href="../#生活">生活</a></li>
	                 <li><a href="../#其它">其它</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Sub Menu -->

	<div id="container" class="clearfix">
		<!-- Content -->
		<div id="content">
				
			<div class="page-container singlepost">

				<h1 class="title-post">{{title}}</h1>

				<p class="date">信源: <a href="{{url}}"> 八阕 </a>21 Dec 12:15 AM</p>
				
				{{#content}}
					<p class="content">{{text}}</p>
					{{#img}}
						<div class="single-image">
							<img alt="" src="{{img}}">
						</div>
						<br>
					{{/img}}
				{{/content}}

				<!-- Social Box -->
				<div class="socialbox-container clearfix">
					<!-- Comments -->
					<div class="socialbox">
						<div class="comments">
							<a href="#">
								<span class="comments-num">0</span>
								<span class="comments-text">no comments</span>
							</a>
						</div>
					</div>
					<!-- End Comments -->

					<!-- Stumbleupon -->
					<div class="socialbox">
						<iframe src="http://www.stumbleupon.com/badge/embed/5/?url=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fthe-great-google-adwords-experiment-join-the-next-campaign%2F" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height: 60px;" allowtransparency="true"></iframe>
					</div>
					<!-- End Stumbleupon -->
					
				</div>
				<!-- End Social Box -->

			</div>

		    <div class="post-container padding">
				<h4 class="with-line font-style">评 论</h4>
				<ol id="comments">
					<li class="thread-even depth-1" id="comment-62">
					<div class="author-avatar">
						<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
					</div>
					<div class="comment-author">
						 Faton
					</div>
					<div class="comment-date">
						May 17, 2012
					</div>
					<div class="comment-text">
						<p>
							ter6rsdsers
						</p>
					</div>
					<div class="comment-reply">
						<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
					</div>
					<ul class="children">
						<li class="depth-2" id="comment-63">
						<div class="author-avatar">
							<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
						</div>
						<div class="comment-author">
							 Administrator
						</div>
						<div class="comment-date">
							May 17, 2012
						</div>
						<div class="comment-text">
							<p>
								erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, eu eleifend mauris leo di
							</p>
						</div>
						<div class="comment-reply">
							<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
						</div>
						<ul class="children">
							<li class="depth-3">
							<div class="author-avatar">
								<img alt="" src="http://1.gravatar.com/avatar/dfeea3132d73aa9d9a08ceb5ae9d5a1f?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
							</div>
							<div class="comment-author">
								 Administrator
							</div>
							<div class="comment-date">
								May 17, 2012
							</div>
							<div class="comment-text">
								<p>
									Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, eu eleifend
								</p>
							</div>
							<div class="comment-reply">
								<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
							</div>
							<ul class="children">
								<li class="depth-4">
								<div class="author-avatar">
									<img alt="" src="http://0.gravatar.com/avatar/6e6088b4460beaff71f1dc7f45e8b67c?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
								</div>
								<div class="comment-author">
									 Vedat
								</div>
								<div class="comment-date">
									May 17, 2012
								</div>
								<div class="comment-text">
									<p>
										es risus, eu eleifen
									</p>
								</div>
								<div class="comment-reply">
									<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
								</div>
								</li>

								<li class="depth-4">
								<div class="author-avatar">
									<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
								</div>
								<div class="comment-author">
									 Administrator
								</div>
								<div class="comment-date">
									May 17, 2012
								</div>
								<div class="comment-text">
									<p>
										es risus, eu eleifen
									</p>
								</div>
								<div class="comment-reply">
									<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
								</div>
								</li>
							</ul>
							</li>
							<li class="depth-3">
							<div class="author-avatar">
								<img alt="" src="http://0.gravatar.com/avatar/6e6088b4460beaff71f1dc7f45e8b67c?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
							</div>
							<div class="comment-author">
								 Test
							</div>
							<div class="comment-date">
								May 17, 2012
							</div>
							<div class="comment-text">
								<p>
									Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, eu ele
								</p>
							</div>
							<div class="comment-reply">
								<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
							</div>
							</li>
							<li class="depth-3">
							<div class="author-avatar">
								<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
							</div>
							<div class="comment-author">
								 Besi
							</div>
							<div class="comment-date">
								May 17, 2012
							</div>
							<div class="comment-text">
								<p>
									Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, eu ele
								</p>
							</div>
							<div class="comment-reply">
								<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
							</div>
							<ul class="children">
								<li class="depth-4">
								<div class="author-avatar">
									<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
								</div>
								<div class="comment-author">
									 Administrator
								</div>
								<div class="comment-date">
									June 02, 2012
								</div>
								<div class="comment-text">
									<p>
										TEST
									</p>
								</div>
								<div class="comment-reply">
									<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
								</div>
								</li>
							</ul>
							</li>
						</ul>
						</li>
						<li class="depth-2">
						<div class="author-avatar">
							<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
						</div>
						<div class="comment-author">
							 Administrator
						</div>
						<div class="comment-date">
							May 17, 2012
						</div>
						<div class="comment-text">
							<p>
								Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
							</p>
						</div>
						<div class="comment-reply">
							<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
						</div>
						<ul class="children">
							<li class="depth-3">
							<div class="author-avatar">
								<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
							</div>
							<div class="comment-author">
								 Name
							</div>
							<div class="comment-date">
								June 02, 2012
							</div>
							<div class="comment-text">
								<p>
									asdasdasdsa
								</p>
							</div>
							<div class="comment-reply">
								<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
							</div>
							</li>
						</ul>
						</li>
					</ul>
					</li>
					<li class="depth-1">
					<div class="author-avatar">
						<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
					</div>
					<div class="comment-author">
						 ftn
					</div>
					<div class="comment-date">
						May 17, 2012
					</div>
					<div class="comment-text">
						<p>
							Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
						</p>
					</div>
					<div class="comment-reply">
						<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
					</div>

					<ul class="children">
						<li class="depth-1">
						<div class="author-avatar">
							<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
						</div>
						<div class="comment-author">
							 Administrator
						</div>
						<div class="comment-date">
							May 17, 2012
						</div>
						<div class="comment-text">
							<p>
								Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
							</p>
						</div>
						<div class="comment-reply">
							<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
						</div>

						<ul class="children">
							<li class="depth-1">
							<div class="author-avatar">
								<img alt="" src="http://1.gravatar.com/avatar/791c799f6b6bd3da68b25e92fb76f303?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
							</div>
							<div class="comment-author">
								 Toni
							</div>
							<div class="comment-date">
								May 17, 2012
							</div>
							<div class="comment-text">
								<p>
									Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
								</p>
							</div>
							<div class="comment-reply">
								<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
							</div>

							<ul class="children">
								<li class="depth-1">
								<div class="author-avatar">
									<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
								</div>
								<div class="comment-author">
									 Loni
								</div>
								<div class="comment-date">
									May 17, 2012
								</div>
								<div class="comment-text">
									<p>
										Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
									</p>
								</div>
								<div class="comment-reply">
									<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
								</div>

								<ul class="children">
									<li class="depth-1">
									<div class="author-avatar">
										<img alt="" src="http://0.gravatar.com/avatar/ac6af756da19a6b0dd76729c9cb1f247?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
									</div>
									<div class="comment-author">
										 strangerr
									</div>
									<div class="comment-date">
										May 17, 2012
									</div>
									<div class="comment-text">
										<p>
											Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
										</p>
									</div>
									<div class="comment-reply">
										<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
									</div>
									</li>
								</ul>
								</li>

								<li class="depth-1">
					<div class="author-avatar">
						<img alt="" src="http://1.gravatar.com/avatar/dfeea3132d73aa9d9a08ceb5ae9d5a1f?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
					</div>
					<div class="comment-author">
						 Doni
					</div>
					<div class="comment-date">
						May 17, 2012
					</div>
					<div class="comment-text">
						<p>
							Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
						</p>
					</div>
					<div class="comment-reply">
						<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
					</div>
					</li>

					<li class="depth-1">
					<div class="author-avatar">
						<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
					</div>
					<div class="comment-author">
						 Jeton
					</div>
					<div class="comment-date">
						May 17, 2012
					</div>
					<div class="comment-text">
						<p>
							Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
						</p>
					</div>
					<div class="comment-reply">
						<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
					</div>
					</li>
							</ul>
							</li>

							<li class="depth-1">
					<div class="author-avatar">
						<img alt="" src="http://1.gravatar.com/avatar/dfeea3132d73aa9d9a08ceb5ae9d5a1f?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
					</div>
					<div class="comment-author">
						 Besart
					</div>
					<div class="comment-date">
						May 17, 2012
					</div>
					<div class="comment-text">
						<p>
							Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
						</p>
					</div>
					<div class="comment-reply">
						<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
					</div>
					</li>

					<li class="depth-1">
					<div class="author-avatar">
						<img alt="" src="http://1.gravatar.com/avatar/57040fe6c5a92141990a1b0eaf2cecb6?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
					</div>
					<div class="comment-author">
						 Sami
					</div>
					<div class="comment-date">
						May 17, 2012
					</div>
					<div class="comment-text">
						<p>
							Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus, Aliquam quis rutrum erat. Suspendisse tempor, sem nec eleifend scelerisque, leo dolor sodales risus,
						</p>
					</div>
					<div class="comment-reply">
						<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
					</div>
					</li>
						</ul>
						</li>
					</ul>
					</li>

					<li class="depth-1">
					<div class="author-avatar">
						<img alt="" src="http://0.gravatar.com/avatar/ae1aeeda4ca3f57362561ffca0012d90?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
					</div>
					<div class="comment-author">
						 Toni
					</div>
					<div class="comment-date">
						May 17, 2012
					</div>
					<div class="comment-text">
						<p>
							Aliquam quis rutrum erat.
						</p>
					</div>
					<div class="comment-reply">
						<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
					</div>
					</li>

					<li class="depth-1">
					<div class="author-avatar">
						<img alt="" src="http://1.gravatar.com/avatar/dfeea3132d73aa9d9a08ceb5ae9d5a1f?s=56&amp;d=http%3A%2F%2Fnextwpthemes.com%2Fthemes%2Fnextwpmagazine%2Fwp-content%2Fthemes%2Fnextmagazine%2Fimg%2Favatar-magazine.png%3Fs%3D56&amp;r=G" class="avatar avatar-56 photo" height="56" width="56">
					</div>
					<div class="comment-author">
						 Faton
					</div>
					<div class="comment-date">
						May 17, 2012
					</div>
					<div class="comment-text">
						<p>
							Aliquam quis rutrum erat.
						</p>
					</div>
					<div class="comment-reply">
						<a class="comment-reply-link" rel="nofollow" href="#reply">reply</a>
					</div>
					</li>
				</ol>
			</div>

			<div id="reply" class="post-container padding">
				<h4 class="with-line font-style">Leave a reply</h4>
				<div class="contact-form">
					<form id="commentForm">
						<input name="name" type="text" placeholder="Name" value="Name">
						<input name="email" type="text" placeholder="E-mail" value="E-mail">
						<input name="website" type="text" placeholder="Website" value="Website">
						<textarea name="message" placeholder="Message">Message</textarea>
						<input type="submit" value="Post a comment">
					</form>
				</div>
			</div>

        </div>
        <!-- End Content -->

        <!-- Sidebar -->
        <div id="sidebar">
        	<ul>
        		<!-- Archives -->
        		<li class="masonry">
        			<h3 class="widget-title">Archives</h3>
        			<div class="widget-container archives-widget">
        				<ul>
        					<li><a href="#" data-description="341 posts">April</a></li>
        					<li><a href="#" data-description="341 posts">March 2012</a></li>
        					<li><a href="#" data-description="341 posts">February 2012</a></li>
        					<li><a href="#" data-description="341 posts">January 2012</a></li>
        					<li><a href="#" data-description="341 posts">December 2011</a></li>
        					<li><a href="#" data-description="341 posts">November 2011</a></li>
        					<li><a href="#" data-description="341 posts">October 2011</a></li>
        				</ul>
        			</div>
        		</li>
        		<!-- End Archives -->

        		<!-- Twitter -->
        		<li class="masonry">
		        	<h3 class="widget-title">Latest Tweets</h3>
		        	<div class="widget-container twitter-widget">
		        		<ul>
		        			<li>
		        				<p><a href="#">about 815 days ago</a> we were checking out 55 Spectacular Login Form Designs: <a href="#">http://bit.ly/8b0wO4</a></p>
		        			</li>
		        			<li>
		        				<p><a href="#">about 815 days ago</a> we were checking out 20 Beautiful Website Design Tutorials <a href="#">http://bit.ly/8b0wO4</a></p>
		        			</li>
		        			<li>
		        				<p><a href="#">about 815 days ago</a> we were checking out 20 Beautiful Website Design Tutorials <a href="#">http://bit.ly/8b0wO4</a></p>
		        			</li>
		        		</ul>
		        	</div>
		        </li>
        		<!-- End Twitter -->
        	</ul>
        </div>
        <!-- End Sidebar -->

        <!-- Copyright-->
        <div id="copyright">
        	&copy; 2011 Powered By <a href="http://www.nextwpthemes.com">NextWPThemes</a>
        </div>
        <!-- Copyright-->
        
        <!-- Footer -->
        <div id="footer">       	
        	<div id="top-button">
        		<a href="#top" title="Back To Top">Top ↑</a>
        	</div>
        </div>
        <!-- End Footer -->

        <div class="space-container"></div>
	</div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.superfish.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
	<script type="text/javascript" src="js/jquery.fancybox.js"></script>
	<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/zh_tran.js"></script>
</body>
</html>