<!doctype html>
<html>
   <head>
      <title>经纬新闻</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="icon" type="image/png" href="img/favicon.png">
      <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
      <link class="skin" rel="stylesheet" href="css/skins/blue/style-1.css" type="text/css" media="screen">
   </head>
   <body>
      <!-- Header -->
      <div id="header-container" class="clearfix">
         <div id="header">
            <div id="logo">
               <a href="index.html"><img alt="" src="img/logo.png"></a>
               <a href="javascript:zh_tran('t');" class="zh_click" id="zh_click_t">繁</a> |
               <a href="javascript:zh_tran('n');" class="zh_click" style="color:#050505" id="zh_click_s">简</a>
            </div>
            <div id="header-ads">
               <img alt="" src="upload/header-ads.png" height="78px">
            </div>
         </div>
      </div>
      <!-- End Header -->
      <!-- Sub Menu -->
      <div id="sub-menu-container">
         <div id="sub-menu">
            <div id="sub-menu-left-nav">
               <a href="#">left</a>
            </div>
            <div id="sub-menu-right-nav">
               <a href="#">right</a>
            </div>
            <div id="sub-menu-ul-container">
               <ul>
                  <li><a href="#中国">中国</a></li>
                  <li><a href="#国际">国际</a></li>
                  <li><a href="#经济">经济</a></li>
                  <li><a href="#科技">科技</a></li>
                  <li><a href="#娱乐">娱乐</a></li>
                  <li><a href="#体育">体育</a></li>
                  <li><a href="#生活">生活</a></li>
                  <li><a href="#其它">其它</a></li>
                  <li></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- End Sub Menu -->
      <div id="container">
         <!-- Content -->
         <div id="content">
            <!-- Slider -->
            <div class="slider-wrapper">
               <div class="flexslider">
                  <ul class="slides">
                  	{{#slides}}
                     <li>
                     	<div class="flex-caption">
                           <h1><a href="{{link}}">{{title}}</a></h1>
                           <p>{{desc}}</p>
                        </div>
                        <a href="{{link}}" data-type="image"><img alt="" src="{{img}}"></a>
                     </li>
                     {{/slides}}
                   </ul>
               </div>
               <!-- <div id="slider-item-0" class="slider-post-info active">
                  <span class="date">21 Dec 12:15 AM</span>
                  <span class="comments"><a href="#">1</a></span>
                  <span class="more-link"><a href="#">Read More...</a></span>
               </div>
               <div id="slider-item-1" class="slider-post-info">
                  <span class="date">21 Mar 03:15 PM</span>
                  <span class="comments"><a href="#">2</a></span>
                  <span class="more-link"><a href="#">Read More...</a></span>
               </div>
               <div id="slider-item-2" class="slider-post-info">
                  <span class="date">30 Jan 03:15 PM</span>
                  <span class="comments"><a href="#">3</a></span>
                  <span class="more-link"><a href="#">Read More...</a></span>
               </div> -->
            </div>
            <!-- End Slider -->
            <!-- Category Posts -->
            <div class="post-container">
               <div class="left">
                  <h2 id="中国">中 国</h2>
                  <div class="post-item">
                     <a href="#"><img alt="" src="upload/politics.jpg"></a>
                     <h3><a href="#">Aecenas mattis</a></h3>
                     <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                     <div class="post-item-footer">
                        <a class="comments" href="#">13</a>
                        <a class="more-link" href="#">详细</a>
                     </div>
                  </div>
               </div>
               <div class="right">
                  <ul>
                  	<li>
                        <a href="#"><img alt="" src="upload/small-post-0.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-1.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <h3><a href="#">普京绯闻女友现身 疑似私生子首次曝光</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <h3><a href="#">支持希拉里 多家美国报纸遭大量退订</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <h3><a href="#">川普被曝涉黄 曾亮相《花花公子》色情影片</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <h3><a href="#">中国截流雅鲁藏布江 打算修大坝, 印度媒体关注, 印度媒体关注,印度媒体关注印度媒体关注印度媒体关注印度媒体关注印度媒体关注印度媒体关注印度媒体关注印度媒体关注印度媒体关注印度媒体关注印度媒体关注印度媒体关注</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                  </ul>
                  <h6 data-value="Politics">更多...</h6>
               </div>
            </div>
            <!-- End Category Posts -->

 <!-- Category Posts -->
            <div class="post-container">
               <div class="left">
                  <h2 id="国际">国 际</h2>
                  <div class="post-item">
                     <a href="#"><img alt="" src="upload/internation.jpg"></a>
                     <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                     <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                     <div class="post-item-footer">
                        <a class="comments" href="#">13</a>
                        <a class="more-link" href="#">READ MORE</a>
                     </div>
                  </div>
               </div>
               <div class="right">
                  <h6 data-value="Politics">更多...</h6>
                  <ul>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-0.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-1.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-2.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-3.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- End Category Posts -->
            <!-- Ads -->
            <div class="post-container ads-post-full">
               <img alt="" src="upload/ads-post.jpg">
            </div>
            <!-- End Ads -->

			<div class="post-container">
               <div class="left">
                  <h2 id="经济">经 济</h2>
                  <div class="post-item">
                     <a href="#"><img alt="" src="upload/popular-2.jpg"></a>
                     <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                     <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                     <div class="post-item-footer">
                        <a class="comments" href="#">13</a>
                        <a class="more-link" href="#">READ MORE</a>
                     </div>
                  </div>
               </div>
               <div class="right">
                  <h6 data-value="Politics">更多...</h6>
                  <ul>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-0.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-1.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-2.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-3.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- End Category Posts -->

			<div class="post-container">
               <div class="left">
                  <h2 id="科技">科 技</h2>
                  <div class="post-item">
                     <a href="#"><img alt="" src="upload/popular-2.jpg"></a>
                     <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                     <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                     <div class="post-item-footer">
                        <a class="comments" href="#">13</a>
                        <a class="more-link" href="#">READ MORE</a>
                     </div>
                  </div>
               </div>
               <div class="right">
                  <h6 data-value="Politics">更多...</h6>
                  <ul>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-0.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-1.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-2.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-3.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- End Category Posts -->

            <!-- jCarousel Post -->
            <div class="carousel-post-container">
               <div class="post-container scroll-post">
                  <h2>Sports</h2>
                  <ul class="carousel-post">
                     <li class="post-item">
                        <a href="#"><img alt="" src="upload/gallery-image-0.jpg"></a>
                        <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                        <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                        <div class="post-item-footer">
                           <a class="comments" href="#">13</a>
                           <a class="more-link" href="#">READ MORE</a>
                        </div>
                     </li>
                     <li class="post-item">
                        <a href="#"><img alt="" src="upload/gallery-image-1.jpg"></a>
                        <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                        <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                        <div class="post-item-footer">
                           <a class="comments" href="#">13</a>
                           <a class="more-link" href="#">READ MORE</a>
                        </div>
                     </li>
                     <li class="post-item">
                        <a href="#"><img alt="" src="upload/gallery-image-2.jpg"></a>
                        <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                        <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                        <div class="post-item-footer">
                           <a class="comments" href="#">13</a>
                           <a class="more-link" href="#">READ MORE</a>
                        </div>
                     </li>
                     <li class="post-item">
                        <a href="#"><img alt="" src="upload/gallery-image-3.jpg"></a>
                        <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                        <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                        <div class="post-item-footer">
                           <a class="comments" href="#">13</a>
                           <a class="more-link" href="#">READ MORE</a>
                        </div>
                     </li>
                     <li class="post-item">
                        <a href="#"><img alt="" src="upload/gallery-image-1.jpg"></a>
                        <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                        <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                        <div class="post-item-footer">
                           <a class="comments" href="#">13</a>
                           <a class="more-link" href="#">READ MORE</a>
                        </div>
                     </li>
                     <li class="post-item">
                        <a href="#"><img alt="" src="upload/gallery-image-0.jpg"></a>
                        <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                        <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                        <div class="post-item-footer">
                           <a class="comments" href="#">13</a>
                           <a class="more-link" href="#">READ MORE</a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- End jCarousel Post -->
            <!-- Gallery Corousel-->
            <div class="post-container scroll-post">
               <h2>Gallery</h2>
               <ul class="gallery-images">
                  <li><a href="upload/gallery-image-big-0.jpg"><img alt="" src="upload/gallery-image-0.jpg"></a></li>
                  <li><a href="upload/gallery-image-big-1.jpg"><img alt="" src="upload/gallery-image-1.jpg"></a></li>
                  <li><a href="upload/gallery-image-big-2.jpg"><img alt="" src="upload/gallery-image-2.jpg"></a></li>
                  <li><a href="upload/gallery-image-big-3.jpg"><img alt="" src="upload/gallery-image-3.jpg"></a></li>
                  <li><a href="upload/gallery-image-big-0.jpg"><img alt="" src="upload/gallery-image-0.jpg"></a></li>
                  <li><a href="upload/gallery-image-big1.jpg"><img alt="" src="upload/gallery-image-1.jpg"></a></li>
                  <li><a href="upload/gallery-image-big-3.jpg"><img alt="" src="upload/gallery-image-3.jpg"></a></li>
               </ul>
            </div>
            <!-- End Gallery Corousel-->

            <!-- Category Posts -->
            <div class="post-container">
               <div class="left">
                  <h2><a href="#">Politics</a></h2>
                  <div class="post-item">
                     <a href="#"><img alt="" src="upload/politics.jpg"></a>
                     <h3><a href="#">Aecenas mattis, tortor ut posuere aliquam</a></h3>
                     <p>Donec faucibus dictum ipsum vel laoreet Convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet.</p>
                     <div class="post-item-footer">
                        <a class="comments" href="#">13</a>
                        <a class="more-link" href="#">READ MORE</a>
                     </div>
                  </div>
               </div>
               <div class="right">
                  <h2 data-value="Politics">Other Post</h2>
                  <ul>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-0.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-1.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-2.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                     <li>
                        <a href="#"><img alt="" src="upload/small-post-3.jpg"></a>
                        <h3><a href="#">Adipiscing elit. Nam non consectetur leo. Phasellus</a></h3>
                        <span class="data-post">March 25, 2012</span>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- End Category Posts -->
            <!-- Ads -->
            <div class="post-container ads-post">
               <div class="left-ads">
                  <img alt="" src="upload/ads-middle.jpg">
               </div>
               <div class="right-ads">
                  <img alt="" src="upload/ads-middle.jpg">
               </div>
            </div>
            <!-- End Ads -->
         </div>
         <!-- End Content -->
         <!-- Sidebar -->
         <div id="sidebar">
            <ul>
               <!-- Popular, Recent and Comments -->
               <li class="masonry">
                  <div class="widget-container tabs-widget">
                     <ul class="tab-links">
                        <li class="active"><a href="#popular-tab">最 新</a></li>
                        <li><a href="#recent-tab">热 点</a></li>
                        <li><a href="#comments-tab">评 论</a></li>
                     </ul>
                     <div id="popular-tab">
                        <ul>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-1.jpg"></a>
                              <h3><a href="#">Dictum ipsum vel laoreet. Sed convallis quam ut elit</a></h3>
                              <span class="data-post">March 25, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-2.jpg"></a>
                              <h3><a href="#">Dictum ipsum vel laoreet. Sed convallis quam ut elit</a></h3>
                              <span class="data-post">March 22, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-3.jpg"></a>
                              <h3><a href="#">Dictum ipsum vel laoreet. Sed convallis quam ut elit</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-4.jpg"></a>
                              <h3><a href="#">Dictum ipsum vel laoreet. Sed convallis quam ut elit</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-5.jpg"></a>
                              <h3><a href="#">Dictum ipsum vel laoreet. Sed convallis quam ut elit</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-6.jpg"></a>
                              <h3><a href="#">Dictum ipsum vel laoreet. Sed convallis quam ut elit</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-6.jpg"></a>
                              <h3><a href="#">Dictum ipsum vel laoreet. Sed convallis quam ut elit</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-6.jpg"></a>
                              <h3><a href="#">Dictum ipsum vel laoreet. Sed convallis quam ut elit</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                        </ul>
                     </div>
                     <div id="recent-tab">
                        <ul>
                           <li>
                              <a href="#"><img alt="" src="upload/recent-1.jpg"></a>
                              <h3><a href="#">Donec faucibus dictum ipsum</a></h3>
                              <span class="data-post">March 25, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/recent-2.jpg"></a>
                              <h3><a href="#">Donec faucibus dictum ipsum</a></h3>
                              <span class="data-post">March 22, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/recent-3.jpg"></a>
                              <h3><a href="#">Donec faucibus dictum ipsum</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/recent-4.jpg"></a>
                              <h3><a href="#">Donec faucibus dictum ipsum</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/recent-5.jpg"></a>
                              <h3><a href="#">Donec faucibus dictum ipsum</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/recent-6.jpg"></a>
                              <h3><a href="#">Donec faucibus dictum ipsum</a></h3>
                              <span class="data-post">March 05, 2012</span>
                           </li>
                        </ul>
                     </div>
                     <div id="comments-tab">
                        <ul>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-3.jpg"></a>
                              <h3><a href="#">admin says:</a></h3>
                              <span class="author-comment">Nice theme, indeed :)</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/img-small.jpg"></a>
                              <h3><a href="#">faton says:</a></h3>
                              <span class="author-comment">very nice post!</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/recent-1.jpg"></a>
                              <h3><a href="#">sami says:</a></h3>
                              <span class="author-comment">Nice theme I’m gonna use it on my next site. I loved the layout and ...</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/recent-4.jpg"></a>
                              <h3><a href="#">sami says:</a></h3>
                              <span class="author-comment">Nice theme I’m gonna use it on my next site. I loved the layout and ...</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-1.jpg"></a>
                              <h3><a href="#">sami says:</a></h3>
                              <span class="author-comment">Nice theme I’m gonna use it on my next site. I loved the layout and ...</span>
                           </li>
                           <li>
                              <a href="#"><img alt="" src="upload/popular-2.jpg"></a>
                              <h3><a href="#">sami says:</a></h3>
                              <span class="author-comment">Nice theme I’m gonna use it on my next site. I loved the layout and ...</span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </li>
               <!-- End Popular, Recent and Comments -->
               <!-- Video Widget -->
               <li class="masonry">
                  <h3 class="widget-title">Video widget</h3>
                  <div class="widget-container video-widget">
                     <iframe src="http://player.vimeo.com/video/7449107?title=0&amp;byline=0&amp;portrait=0" width="284" height="213" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                  </div>
               </li>
               <!-- End Video Widget -->
               <!-- Advertisement widget -->
               <li class="masonry">
                  <h3 class="widget-title">Advertisement widget</h3>
                  <div class="widget-container ads-widget">
                     <a href="#"><img alt="" src="upload/ads-small-0.jpg"></a>
                     <a href="#"><img alt="" src="upload/ads-small-1.jpg"></a>
                     <a href="#"><img alt="" src="upload/ads-small-2.jpg"></a>
                     <a href="#"><img alt="" src="upload/ads-small-3.jpg"></a>
                  </div>
               </li>
               <!-- End Advertisement widget -->
               <!-- Social Networks -->
               <li class="masonry">
                  <h3 class="widget-title">Social Networks</h3>
                  <div class="widget-container social-widget">
                     <a href="#"><img alt="" src="img/facebook.png"></a>
                     <a href="#"><img alt="" src="img/rss.png"></a>
                     <a href="#"><img alt="" src="img/youtube.png"></a>
                     <a href="#"><img alt="" src="img/twitter.png"></a>
                     <a href="#"><img alt="" src="img/flickr.png"></a>
                  </div>
               </li>
               <!-- End Social Networks -->
               <!-- Subscribe via email -->
               <li class="masonry">
                  <h3 class="widget-title">Subscribe via email</h3>
                  <div class="widget-container subscribe-widget">
                     <form>
                        <label for="email">Enter your email address</label>
                        <input name="email" id="email" type="text" placeholder="" value="">
                        <input type="submit" value="Subscribe">
                     </form>
                  </div>
               </li>
               <!-- End Subscribe via email -->
               <!-- Archives -->
               <li class="masonry">
                  <h3 class="widget-title">最 新</h3>
                  <div class="widget-container archives-widget">
                     <ul>
                        <li><a href="#">April</a></li>
                        <li><a href="#">March 2012</a></li>
                        <li><a href="#">February 2012</a></li>
                        <li><a href="#">January 2012</a></li>
                        <li><a href="#">December 2011</a></li>
                        <li><a href="#">November 2011</a></li>
                        <li><a href="#">October 2011</a></li>
                     </ul>
                  </div>
               </li>
               <!-- End Archives -->
               <!-- Tags -->
               <li class="masonry">
                  <h3 class="widget-title">Tags</h3>
                  <div class="widget-container tags-widget">
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/africa/" class="tag-link-17" title="8 topics" style="font-size: 18.1111111111pt;">Africa</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/apple/" class="tag-link-23" title="2 topics" style="font-size: 10.8pt;">Apple</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/australia/" class="tag-link-48" title="1 topic" style="font-size: 8pt;">Australia</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/basketball/" class="tag-link-26" title="2 topics" style="font-size: 10.8pt;">Basketball</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/biking/" class="tag-link-47" title="2 topics" style="font-size: 10.8pt;">Biking</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/california/" class="tag-link-24" title="10 topics" style="font-size: 19.5111111111pt;">California</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/celebrities/" class="tag-link-35" title="8 topics" style="font-size: 18.1111111111pt;">Celebrities</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/chicago/" class="tag-link-41" title="1 topic" style="font-size: 8pt;">Chicago</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/education/" class="tag-link-51" title="1 topic" style="font-size: 8pt;">education</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/europe/" class="tag-link-53" title="1 topic" style="font-size: 8pt;">Europe</a>
                     <a href="http://nextwpthemes.com/themes/nextwpmagazine/tag/florida/" class="tag-link-39" title="4 topics" style="font-size: 14.2222222222pt;">Florida</a>
                  </div>
               </li>
               <!-- End Tags -->
            </ul>
         </div>
         <!-- End Sidebar -->
         <!-- Footer -->
         <div id="footer">
            <div id="top-button">
               <a href="#top" title="Back To Top">Top ↑</a>
            </div>
            <ul>
               <li>
                  <h3 class="widget-title">Text widget</h3>
                  <div class="widget-container">
                     <p>Donec faucibus dictum ipsum vel laoreet. Sed convallis quam ut elit condimentum quis laoreet tortor iplacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non consectetur leo. Phasellus insap tempus ipsum. Donec metus dui, fermentum blandit rutrum volutpat, commodo et libero.</p>
                  </div>
               </li>
               <li>
                  <h3 class="widget-title">Photos on Flickr</h3>
                  <div class="widget-container flickr-widget">
                     <a href="#"><img alt="" src="upload/flickr-1.jpg"></a>
                     <a href="#"><img alt="" src="upload/flickr-2.jpg"></a>
                     <a href="#"><img alt="" src="upload/flickr-3.jpg"></a>
                     <a href="#"><img alt="" src="upload/flickr-4.jpg"></a>
                     <a href="#"><img alt="" src="upload/flickr-5.jpg"></a>
                     <a href="#"><img alt="" src="upload/flickr-6.jpg"></a>
                  </div>
               </li>
               <li>
                  <h3 class="widget-title">Latest Tweets</h3>
                  <div class="widget-container twitter-widget">
                     <ul>
                        <li>
                           <p><a href="#">about 815 days ago</a> we were checking out 55 Spectacular Login Form Designs: <a href="#">http://bit.ly/8b0wO4</a></p>
                        </li>
                        <li>
                           <p><a href="#">about 815 days ago</a> we were checking out 20 Beautiful Website Design Tutorials <a href="#">http://bit.ly/8b0wO4</a></p>
                        </li>
                     </ul>
                  </div>
               </li>
            </ul>
         </div>
         <!-- End Footer -->
         <!-- Copyright-->
         <div id="copyright">
            &copy; 2011 Powered By <a href="http://www.nextwpthemes.com">NextWPThemes</a>
         </div>
         <!-- Copyright-->
         <div class="space-container"></div>
      </div>
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/jquery.flexslider.js"></script>
      <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
      <script type="text/javascript" src="js/jquery.fancybox.js"></script>
      <!-- <script type="text/javascript" src="js/jquery.masonry.min.js"></script> -->
      <script type="text/javascript" src="js/script.js"></script>
      <script type="text/javascript" src="js/zh_tran.js"></script>
   </body>
</html>